@charset "UTF-8";
@import url(./fonts.css);
@import url(./reset.css);

#root {width:100%;}
#root #member {padding:0 0 30px 0;}

/* 로고 이미지 타이틀 */
#root #member .logo-box {width:100%;text-align:center;border-bottom:1px solid #ccc;background:#fff;position: relative;z-index:1;}
#root #member .logo-box img {width:120px;}

/* 타이틀 */
#root #member > h1 {text-align:center;padding:30px 0 30px 0;font-size:30px;letter-spacing:1px;font-weight:500;position: relative;z-index:1;}

/* 폼박스 */
#root #member #form-box {width:650px;margin:0 auto;position: relative;z-index:1;}
#root #member #form-box .side-title {text-align:right;padding:0 0 10px 0;border-bottom:2px solid #111;}
#root #member #form-box .side-title span {font-size:12px;color:#666;}
#root #member #form-box .side-title span i {color:#b3130b;}

#root #member #form-box form  {width:100%;}
#root #member #form-box form ul {width:100%;padding:10px 0 0 0;}
#root #member #form-box form ul li {padding:10px 0;display:flex;}
#root #member #form-box form ul li .left {width:160px;height:45px;display:flex;padding:0 0 0 25px;}
#root #member #form-box form ul li .left span {font-size:15px;font-weight:600;margin:auto auto auto 0;}
#root #member #form-box form ul li .left span i {color:#b3130b;}

#root #member #form-box form ul li .right {width:490px;padding:0 160px 0 0;position:relative;}
#root #member #form-box form ul li .right .input-box {width:100%;border-radius:3px;background:#fff;}
#root #member #form-box form ul li .right .input-box.phone-confirm {margin-top:10px;}

/* 안내텍스트(Guide Text) */
#root #member #form-box form ul li .right .info-text {padding:10px 0;display:block;}
/* #root #member #form-box form ul li .right .info-text.addInfo {display:none;}  임시 */
#root #member #form-box form ul li .right .info-text p {font-size:12px;color:#666;line-height:160%;position:relative;padding:0 0 0 8px;}
/* •	2022 */
#root #member #form-box form ul li .right .info-text p:before {content:'\2022';display:inline-block;margin:0 3px 0 0;font-size:10px;}
/* ✕	2715 */
#root #member #form-box form ul li .right .info-text p.addXbar {color:#b3130b;}
#root #member #form-box form ul li .right .info-text p.addXbar::before {content:'\2715';}
/* ✓	2713 */
#root #member #form-box form ul li .right .info-text p.addCheck {color:#0f851a;}
#root #member #form-box form ul li .right .info-text p.addCheck::before {content:'\2713';}

#root #member #form-box form ul li .right .btn-text {display:block;}
#root #member #form-box form ul li .right .btn-text p {padding:0;}
#root #member #form-box form ul li .right .btn-text p::before {width:0;height:0;}


/* 버튼요소들 */
#root #member #form-box form ul li .right .duplicate-btn {position:absolute;right:32px;top:0;width:120px;border:1px solid #5f0080;border-radius:3px;background:#fff;color:#5f0080;height:45px;font-size:15px;}
#root #member #form-box form ul li .right .phone-btn {border:1px solid #ddd;border-radius:3px;color:#ccc;}
#root #member #form-box form ul li .right .phone-confirm-btn {top:55px;}

/* 카운터박스 */
#root #member #form-box form ul li .right .counter-box {position:absolute;top:70px;right:175px;color:#b3130b;font-size:15px;}

/* 주소검색버튼 */
/* 주소입력상자가 열리면 재검색으로 바뀌면서 우측으로이동 그리고 크기 변경 */
#root #member #form-box form ul li .right .address-btn {border:1px solid #ddd;border-radius:3px;width:100%;height:45px;border:1px solid #5f0080;background:#fff;cursor:pointer;}
#root #member #form-box form ul li .right .address-btn.open {position:absolute;right:32px;top:0;width:120px;}

#root #member #form-box form ul li .right .address-btn span {color:#5f0080;font-size:15px;}
#root #member #form-box form ul li .right .address-btn span i {margin:-4px 2px 0 0;}


#root #member #form-box form ul li label {color:#333;font-size:15px;}
#root #member #form-box form ul li label input[type='radio'] {width:24px;height:24px;appearance:none;/* 원래모습을사용안함 */}

#root #member #form-box form ul li .birthday {display:flex;border:1px solid #ddd;border-radius:3px;}
#root #member #form-box form ul li .birthday input[type='text'] {border:0;text-align:center;appearance:none;}
#root #member #form-box form ul li .birthday input[type='text']::placeholder {text-align:center;}
#root #member #form-box form ul li .birthday input[type='text']:focus {outline:0;}

/* 성별 */
#root #member #form-box form ul li .gender-box {display:flex;padding:15px 0;}
#root #member #form-box form ul li .gender-box span {display:block;width:33.333%;padding:0 0 0 0;user-select:none;}
#root #member #form-box form ul li .gender-box span label {margin:0 0 0 10px;font-size:15px;}
#root #member #form-box form ul li .gender-box span input[type='radio'] {width:24px;height:24px;appearance:none;border:1px solid #ccc;border-radius:50%;}
#root #member #form-box form ul li .gender-box span input[type='radio']:checked {border:6px solid #5f0080;}



/* 입력상자 공통 스타일 */
#root #member #form-box form .input-box::placeholder {color:#ccc;font-size:15px;font-weight:200;} 
#root #member #form-box form .input-box:focus {outline:1px solid #444;outline-offset:-1px;} 

/* 주소 입력상자 */
#root #member #form-box form .input-box.input-address {margin-bottom:5px;}



/* 추가입력사항 */
#root #member #form-box form ul li .right .addinput-box {display:flex;padding:15px 0;}
#root #member #form-box form ul li .right .addinput-box span {display:block;width:auto;padding:0 0 0 0;user-select:none;}
#root #member #form-box form ul li .right .addinput-box span label {margin:0 0 0 10px;font-size:15px;}
#root #member #form-box form ul li .right .addinput-box span input[type='radio'] {width:24px;height:24px;appearance:none;border:1px solid #ccc;border-radius:50%;}
#root #member #form-box form ul li .right .addinput-box span input[type='radio']:checked {border:6px solid #5f0080;}
#root #member #form-box form ul li .right .addinput-box span:nth-child(1) {margin:0 auto 0 0;}
#root #member #form-box form ul li .right .addinput-box span:nth-child(2) {margin:0 10px 0 auto;}

/* 추가항목 입력상자와 안내 텍스트 */
#root #member #form-box form ul li .right .info-text.addInfo p.add-input {font-size:12px;color:#333;line-height:160%;padding:10px 0 0 2px;text-indent:0;}
#root #member #form-box form ul li .right .info-text.addInfo p.add-input::before {content:'';margin:0;}




/* 구분선 */
#root #member #form-box form ul li hr {border:0;border-bottom:1px solid #333;width:100%;height:0;}

/* 약관동의 */
#root #member #form-box form ul li:last-child .right {padding:0 0 0 0;}
#root #member #form-box form ul li:last-child .right .service-box {width:100%;border-radius:0;padding:0 0 15px 0;}
#root #member #form-box form ul li:last-child .right .service-box dt {width:100%;padding:10px 0;}

/* 전체동의 */
#root #member #form-box form ul li:last-child .right .service-box dt label {display:block;width:100%;}
#root #member #form-box form ul li:last-child .right .service-box dt label input[type='checkbox'] {appearance:none;display:inline-block;width:24px;height:24px;margin:0 10px 0 0;background:url(../../img/ico_checkbox.svg) no-repeat 50% 50%;background-size:24px 24px;}
#root #member #form-box form ul li:last-child .right .service-box dt label input[type='checkbox']:checked {background-image:url(../../img/ico_checkbox_checked.svg);}
#root #member #form-box form ul li:last-child .right .service-box dt label span {font-size:18px;font-weight:700;user-select:none;}
#root #member #form-box form ul li:last-child .right .service-box dt p {padding:5px 0 0 34px;font-size:12px;color:#666;}

/* 개별동의 */
#root #member #form-box form ul li:last-child .right .service-box dd {padding:10px 0;position:relative;width:100%;}
#root #member #form-box form ul li:last-child .right .service-box dd label {display:block;width:100%;position:relative;z-index:1;}
#root #member #form-box form ul li:last-child .right .service-box dd label input[type='checkbox'] {appearance:none;display:inline-block;width:24px;height:24px;margin:0 10px 0 0;background:url(../../img/ico_checkbox.svg) no-repeat 50% 50%;background-size:24px 24px;}
#root #member #form-box form ul li:last-child .right .service-box dd label input[type='checkbox']:checked {background-image:url(../../img/ico_checkbox_checked.svg);}
#root #member #form-box form ul li:last-child .right .service-box dd label span {font-size:15px;user-select:none;}
#root #member #form-box form ul li:last-child .right .service-box dd label span i {color:#aaa;font-style:normal;vertical-align:baseline;}
#root #member #form-box form ul li:last-child .right .service-box dd > span {position:absolute;z-index:2;right:30px;top:0;height:100%;display:flex;align-items:center;}
#root #member #form-box form ul li:last-child .right .service-box dd > span a {color:#5f0080;font-size:15px;}
#root #member #form-box form ul li:last-child .right .service-box dd > span a i {font-size:13px;vertical-align:baseline;margin:0 0 0 2px;}
#root #member #form-box form ul li:last-child .right .service-box dd .check4-sub {display:flex;flex-flow:row wrap;padding:0 0 0 34px;}
#root #member #form-box form ul li:last-child .right .service-box dd .check4-sub label {width:40%;padding:15px 0;}
#root #member #form-box form ul li:last-child .right .service-box dd .check4-sub p {width:100%;padding:0 0 0 15px;margin:0 0 0 34px;font-size:12px;color:#5f0080;background:url(../../img/ico_sub_dot.svg) no-repeat 0 50%;}

/* 전송버튼 */
#root #member #form-box form .button-box {padding:40px 0;text-align:center;border-top:1px solid #ddd;}
#root #member #form-box form .button-box button {width:250px;height:60px;border-radius:3px;border:1px solid #ccc;cursor:pointer;color:#fff;background:#5f0080;filter:brightness(90%);font-size:16px;font-weight:600;}
#root #member #form-box form .button-box button:hover {filter:brightness(100%);}



#root #member #list {}


/* 모달창 */
#root #member #modal {position:fixed;width:100%;height:100%;top:0;left:0;z-index:2;background:rgba(0,0,0, .4);display:flex;}
#root #member #modal .container {width:490px;height:275px;background:#fff;margin:auto;}
#root #member #modal .container .header {width:100%;height:175px;}
#root #member #modal .container .header ul {width:100%;height:100%;padding:0 25px 0 25px;}
#root #member #modal .container .header ul li {width:100%;display:flex;}
#root #member #modal .container .header ul li:first-child {border-bottom:1px solid #ccc;height:60px;}
#root #member #modal .container .header ul li:last-child {height:115px;}
#root #member #modal .container .header ul li h1  {margin:auto auto auto 0;font-size:15px;line-height:100%;font-weight:600;color:#5f0080}
#root #member #modal .container .header ul li span  {margin:auto 0 auto auto;}
#root #member #modal .container .header ul li span a img {width:auto;}
#root #member #modal .container .header ul li p {font-size:14px;font-weight:600;text-align:center;width:100%;margin:auto;color:#333;}

#root #member #modal .container .footer {width:100%;height:100px;background:#f5f5f5;text-align:center;display:flex;}
#root #member #modal .container .footer button {width:150px;height:45px;background: #5f0080;border:0;color:#fff;font-size:16px;font-weight:600;margin:auto;}







